body{
	background-color: #eeeeee;
	color: #777;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.flatbuttons{
	margin-top: 50px;
	text-align: left;
	text-align: center;
}



.centerall{
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1{	
	font-weight: normal;
	font-size:36px;
}

p{
	line-height: 150%;
	margin: 10px;
	padding: 0;
}

.flatbuttons{
	clear:both;
	margin-top: 15px;
	margin-bottom: 30px;
}

.flatbuttons button{
	background-color: #86B1B9;
	-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;
	border: 0;
	padding: 12px;
	margin-right: 5px;
	color: #eeeeee;
	font-size: 16px;
	font-weight: normal;
	width: 100px;
	cursor: pointer;
}

.flatbuttons button:focus{
	outline: 0;
}

.flatbuttons button:hover{
	background-color: #97c1c6;
}

.description{
	clear:both;
}