.pointer:hover {
    cursor: pointer;
}

.menu-wrap {
    top: 0;
    webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.rs_menu .rs_menu_pic {
    height: 193px;
}

.rs_menu_inner_pic img {
    height: 60px;
}

.rs_topheader {
    background: #333;
}

.rs_topheader_center a {
    padding: 4px 14px;
    background-color: #28b863;
    font-family: 'Prompt', sans-serif;
    /* min-width: 130px; */
    font-size: 13px;
    border-radius: 0;
    box-shadow: none;
}

.abg-orange {
    background-color: #fe5722 !important;
}

.rs_topheader_right {
    /* text-align: right; */
    /* margin-right: 30px; */
    padding: 0px;
    padding-right: 15px;
}

.rs_topheader_right ul.navbar-right {
    /* float: right !important; */
    /* width: 33%; */
    /* padding: 0px; */
    margin: 0;
    padding-right: 20px;
    float: right;
}

.rs_topheader_right ul.navbar-right li a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 18px;
}

.rs_topheader_right ul.navbar-right li a:focus {
    background-color: transparent;
}

.rs_user_pic {
    /* display: inline-block; */
    padding: 15px 0;
    height: 81px;
}

.rs_user_pic div h5 {
    float: right;
    width: auto;
    color: #fff;
    line-height: 24px;
    font-weight: normal !important;
}

.rs_user_pic.rs_active h5 {
    /* color: #438afe !important; */
}

.navbar-default {
    margin-top: 80px;
    margin-bottom: 0;
    background-color: #0f79f5;
    border: 0;
    border-radius: 0;
}

.navbar-default .container-fluid {
    margin: 30px 0 30px 0;
}

.navbar-brand .logo {
    position: relative;
    top: -30px;
    height: 68px;
}

.navbar-default .navbar-nav.navbar-right > li {
    margin-left: 20px;
    padding: 15px 20px 15px 0;
}

li.divider-vertical {
    width: 1px;
    height: 20px;
    margin: 15px 0 !important;
    padding: 0 !important;
    border-right: 1px solid #FFF;
}

.navbar-default .navbar-nav > li > a {
    padding: 0;
    background: transparent;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fe5722;
}


/*.rs_mainslider {*/


/*margin-top: 0;*/


/*}*/


/*.rev_slider_wrapper {*/


/*margin: 0 auto;*/


/*background-color: #0f79f5;*/


/*padding: 0;*/


/*height: 597px !important;*/


/*}*/

.tp-bullet.selected,
.tp-bullet:hover {
    background: #438afe;
}

.rs_index2_footerdiv ul {
    display: inline-block;
    width: auto;
    padding: 0;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 0;
}

.rs_index2_footerdiv ul li a {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat';
}

.rs_footer_textdata {
    float: left;
    width: 100%;
    padding: 20px 0px 0;
    color: #fff;
}

.rs_footer_textdata p a {
    color: #ffffff;
    text-decoration: none;
}

.pages-myaccount .rs_user_profile_img {
    height: 92px;
    background-color: rgba(67, 138, 254, 0.7);
}

.pages-myaccount .rs_tab_wrapper {
    background-color: transparent;
}

.pages-myaccount .rs_left_tabwrapper .livicon-evo {
    margin: 10px 0 0 10px;
    height: auto !important;
}

.pages-myaccount span.gender {
    float: none;
    width: auto;
    padding: 0;
}

.pages-myaccount .datepicker i {
    position: absolute;
    bottom: 13px;
    right: 24px;
    top: auto;
    cursor: pointer;
}

.pages-myaccount input {
    background: #fafafa !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24) !important;
    padding: 10px 12px !important;
}

.pages-myaccount .rs_user_dashboard_tab_info_form .rs_sort {
    padding: 10px 12px;
}

.rs_user_pic.rs_active h5 span {
    color: #438afe;
}

h5 span {
    color: #fff;
}

.btn-primary {
    /* background-color: #438afe;
    border-color: #438afe;*/
}


/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
}

.waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
}

.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.waves-block {
    display: block;
}

.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.4);
}

.waves-effect.waves-custom .waves-ripple {
    background-color: rgba(113, 182, 249, 0.4);
}

.waves-effect.waves-primary .waves-ripple {
    background-color: rgba(24, 138, 226, 0.4);
}

.waves-effect.waves-success .waves-ripple {
    background-color: rgba(16, 196, 105, 0.4);
}

.waves-effect.waves-info .waves-ripple {
    background-color: rgba(53, 184, 224, 0.4);
}

.waves-effect.waves-warning .waves-ripple {
    background-color: rgba(249, 200, 81, 0.4);
}

.waves-effect.waves-danger .waves-ripple {
    background-color: rgba(255, 91, 91, 0.4);
}

.waves-effect.waves-pink .waves-ripple {
    background-color: rgba(255, 138, 204, 0.4);
}

.waves-effect.purple .waves-ripple {
    background-color: rgba(91, 105, 188, 0.2);
}

.waves-effect.waves-inverse .waves-ripple {
    background-color: rgba(59, 62, 71, 0.4);
}

.btn-group.autobidg {
    width: 40%;
    margin-left: 0px !important;
}

button.autobidbutt {
    width: 20%;
    margin-left: 0px !important;
    border-radius: 0px;
}

button.autobidcustom.btn {
    border-radius: 0px;
    width: 100%;
}

.widget_license p .text-muted {
    padding: 0px !important;
    margin-bottom: 0px;
}

.text-muted-head {
    padding: 0px !important;
    margin-bottom: 0px;
    color: #333;
    font-weight: bold;
    margin-top: 5px;
}

.btn {
    padding: 10px 8px !important;
}

.no-margin {
    margin: 0px;
    padding-bottom: 2px;
}

.tab-content-bordered {
    background: #fff;
}

.delcustom {
    padding: 2px 6px 3px !important;
    font-size: 8px;
}

.dropdown-menu-autobid {
    position: absolute;
    top: 90%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: auto;
    padding: 0px 0;
    margin: 3px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: transparent;
    /* border: 1px solid #cccccc; */
    /* border: 1px solid rgba(0, 0, 0, 0.15); */
    /* border-radius: 4px; */
    /* -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); */
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); */
    /* -webkit-background-clip: padding-box; */
    background-clip: padding-box;
}

.rs_left_tabwrapper ul.nav-tabs a:hover {
    color: #fff !important;
}

.rs_left_tabwrapper ul.nav-tabs li.active a:hover,
.rs_left_tabwrapper ul.nav-tabs li.active a,
.rs_left_tabwrapper ul.nav-tabs li.active a:focus,
.rs_left_tabwrapper ul.nav-tabs li:hover a {
    color: #fff !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: none;
    background: transparent;
}

.bid-product-img .img-responsive {
    height: 163px;
}

@media (min-width: 768px) {
    .bid-userwin img {
        margin-top: -3%;
        left: 2%;
        height: 40px;
    }
}

@media (min-width: 768px) {
    .bid-userwintop {
        display: inline-block;
        margin-bottom: 1px;
        color: #131212;
        width: 100%;
        font-size: 13px;
        padding: 0px;
        /* height: 30px; */
        margin-top: 5px;
        margin-left: -5%;
    }
}

.rs_index1_footerdiv {
    text-align: center;
    float: left;
    background: #313131;
    width: 100%;
}


/*
 * DROPDOWNS
 */

.dropdown,
.dropup {
    display: inline-block;
}

.dropup .dropdown-menu {
    bottom: 115%;
}

.dropdown-menu {
    border-color: #d2d9e5;
    top: 115%;
    padding: 8px 0px;
}

.dropdown-menu .dropdown-icon {
    margin-right: 5px;
}

.dropdown-menu .dropdown-divider {
    background-color: #d2d9e5;
}

.dropdown-menu .dropdown-header {
    padding: 7px 15px;
    color: #514d6a;
    font-size: 14px;
    font-weight: 600;
}

.dropdown-menu .dropdown-item {
    color: #827ca1;
    background: none;
    padding: 3px 15px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.dropdown-menu .dropdown-item a {
    color: #827ca1;
}

.dropdown-menu .dropdown-item a:hover,
.dropdown-menu .dropdown-item a:active {
    background: none;
    color: #0088ff;
}

.dropdown-menu .dropdown-item.disabled {
    cursor: not-allowed;
    color: #d2d9e5 !important;
}

.dropdown-menu .dropdown-item.disabled a {
    color: #d2d9e5 !important;
    cursor: not-allowed;
}

.dropdown-menu .dropdown-item.active {
    background: #f2f4f8 !important;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: none;
    color: #0088ff;
}

.dropdown-animate {
    overflow: hidden;
}

.dropdown-animate > .dropdown-item,
.dropdown-animate .dropdown-header {
    -webkit-animation-name: dropdown-slide-left;
    -o-animation-name: dropdown-slide-left;
    animation-name: dropdown-slide-left;
    -webkit-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.dropdown-animate > .dropdown-item:nth-child(1),
.dropdown-animate .dropdown-header:nth-child(1) {
    -webkit-animation-delay: .02s;
    -o-animation-delay: .02s;
    animation-delay: .02s;
}

.dropdown-animate > .dropdown-item:nth-child(2),
.dropdown-animate .dropdown-header:nth-child(2) {
    -webkit-animation-delay: .04s;
    -o-animation-delay: .04s;
    animation-delay: .04s;
}

.dropdown-animate > .dropdown-item:nth-child(3),
.dropdown-animate .dropdown-header:nth-child(3) {
    -webkit-animation-delay: .06s;
    -o-animation-delay: .06s;
    animation-delay: .06s;
}

.dropdown-animate > .dropdown-item:nth-child(4),
.dropdown-animate .dropdown-header:nth-child(4) {
    -webkit-animation-delay: .08s;
    -o-animation-delay: .08s;
    animation-delay: .08s;
}

.dropdown-animate > .dropdown-item:nth-child(5),
.dropdown-animate .dropdown-header:nth-child(5) {
    -webkit-animation-delay: .10s;
    -o-animation-delay: .10s;
    animation-delay: .10s;
}

.dropdown-animate > .dropdown-item:nth-child(6),
.dropdown-animate .dropdown-header:nth-child(6) {
    -webkit-animation-delay: .12s;
    -o-animation-delay: .12s;
    animation-delay: .12s;
}

.dropdown-animate > .dropdown-item:nth-child(7),
.dropdown-animate .dropdown-header:nth-child(7) {
    -webkit-animation-delay: .14s;
    -o-animation-delay: .14s;
    animation-delay: .14s;
}

.dropdown-animate > .dropdown-item:nth-child(8),
.dropdown-animate .dropdown-header:nth-child(8) {
    -webkit-animation-delay: .16s;
    -o-animation-delay: .16s;
    animation-delay: .16s;
}

.dropdown-animate > .dropdown-item:nth-child(9),
.dropdown-animate .dropdown-header:nth-child(9) {
    -webkit-animation-delay: .18s;
    -o-animation-delay: .18s;
    animation-delay: .18s;
}

.dropdown-animate > .dropdown-item:nth-child(10),
.dropdown-animate .dropdown-header:nth-child(10) {
    -webkit-animation-delay: .20s;
    -o-animation-delay: .20s;
    animation-delay: .20s;
}

.open > .dropdown-menu {
    -webkit-animation-name: dropdown-slide-bottom;
    -o-animation-name: dropdown-slide-bottom;
    animation-name: dropdown-slide-bottom;
    -webkit-animation-duration: .15s;
    -o-animation-duration: .15s;
    animation-duration: .15s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .01s;
    -o-animation-delay: .01s;
    animation-delay: .01s;
    display: block;
}

.open > .dropdown-menu {
    -webkit-animation-name: dropdown-slide-bottom;
    -o-animation-name: dropdown-slide-bottom;
    animation-name: dropdown-slide-bottom;
    -webkit-animation-duration: .15s;
    -o-animation-duration: .15s;
    animation-duration: .15s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .05s;
    -o-animation-delay: .05s;
    animation-delay: .05s;
    display: block;
}

.open.dropup > .dropdown-menu {
    -webkit-animation-name: dropdown-slide-top;
    -o-animation-name: dropdown-slide-top;
    animation-name: dropdown-slide-top;
}

.dropdown.dropdown-avatar .dropdown-toggle {
    display: inline-block;
    position: relative;
    padding-right: 18px;
}

.dropdown.dropdown-avatar .dropdown-toggle:after {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -1px;
    color: #bbb8cb;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.dropdown.dropdown-avatar .dropdown-toggle:hover:after {
    color: #827ca1;
}

.dropdown .dropdown-inline-button {
    display: inline-block;
    color: #827ca1;
    font-weight: 600;
}

.dropdown .dropdown-inline-button .dropdown-inline-button-icon {
    color: #bbb8cb;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    margin-right: 5px;
}

.dropdown .dropdown-inline-button:after {
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: #bbb8cb;
}

.dropdown .dropdown-inline-button:hover,
.dropdown .dropdown-inline-button:focus,
.dropdown .dropdown-inline-button:active {
    color: #24222f;
}

.dropdown .dropdown-inline-button:hover .dropdown-inline-button-icon,
.dropdown .dropdown-inline-button:focus .dropdown-inline-button-icon,
.dropdown .dropdown-inline-button:active .dropdown-inline-button-icon {
    color: #827ca1;
}

.dropdown .dropdown-inline-button:hover:after,
.dropdown .dropdown-inline-button:focus:after,
.dropdown .dropdown-inline-button:active:after {
    color: #827ca1;
}

.dropdown.open .dropdown-inline-button {
    color: #24222f;
}

.dropdown.open .dropdown-inline-button .dropdown-inline-button-icon {
    color: #514d6a;
}

@-webkit-keyframes dropdown-slide-left {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes dropdown-slide-left {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes dropdown-slide-left {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes dropdown-slide-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes dropdown-slide-bottom {
    0% {
        opacity: 0;
        transform: translate3d(0, -5px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes dropdown-slide-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes dropdown-slide-top {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes dropdown-slide-top {
    0% {
        opacity: 0;
        transform: translate3d(0, 5px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes dropdown-slide-top {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


/* =============
   Panels
============= */

.panel {
    border: none;
    margin-bottom: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

.panel .panel-body {
    padding: 20px;
}

.panel .panel-body p {
    margin: 0px;
}

.panel .panel-body p + p {
    margin-top: 15px;
}

.panel-heading {
    border: none !important;
    padding: 10px 20px;
}

.panel-default > .panel-heading {
    border-bottom: none;
    color: #797979;
}

.panel-title {
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

.panel-footer {
    background: #f4f8fb;
    border-top: 0px;
}

.panel-color .panel-title {
    color: #ffffff;
}

.panel-custom > .panel-heading {
    background-color: #0f79f5;
}

.panel-primary > .panel-heading {
    background-color: #188ae2;
}

.panel-success > .panel-heading {
    background-color: #10c469;
}

.panel-info > .panel-heading {
    background-color: #35b8e0;
}

.panel-warning > .panel-heading {
    background-color: #f9c851;
}

.panel-danger > .panel-heading {
    background-color: #ff5b5b;
}

.panel-purple > .panel-heading {
    background-color: #5b69bc;
}

.panel-pink > .panel-heading {
    background-color: #ff8acc;
}

.panel-inverse > .panel-heading {
    background-color: #3b3e47;
}

.panel-border .panel-heading {
    background-color: #ffffff;
    border-top: 3px solid #DADFE2 !important;
    padding: 10px 20px 0px;
}

.panel-border .panel-body {
    padding: 15px 20px 20px 20px;
}

.panel-border.panel-custom .panel-heading {
    border-color: #0f79f5 !important;
    color: #0f79f5 !important;
}

.panel-border.panel-primary .panel-heading {
    border-color: #188ae2 !important;
    color: #188ae2 !important;
}

.panel-border.panel-success .panel-heading {
    border-color: #10c469 !important;
    color: #10c469 !important;
}

.panel-border.panel-info .panel-heading {
    border-color: #35b8e0 !important;
    color: #35b8e0 !important;
}

.panel-border.panel-warning .panel-heading {
    border-color: #f9c851 !important;
    color: #f9c851 !important;
}

.panel-border.panel-danger .panel-heading {
    border-color: #ff5b5b !important;
    color: #ff5b5b !important;
}

.panel-border.panel-purple .panel-heading {
    border-color: #5b69bc !important;
    color: #5b69bc !important;
}

.panel-border.panel-pink .panel-heading {
    border-color: #ff8acc !important;
    color: #ff8acc !important;
}

.panel-border.panel-inverse .panel-heading {
    border-color: #3b3e47 !important;
    color: #3b3e47 !important;
}

.panel-group .panel .panel-heading a[data-toggle=collapse].collapsed:before {
    content: '\f055';
}

.panel-group .panel .panel-heading .accordion-toggle.collapsed:before {
    content: '\f055';
}

.panel-group .panel .panel-heading a[data-toggle=collapse] {
    display: block;
}

.panel-group .panel .panel-heading a[data-toggle=collapse]:before {
    content: '\f056';
    display: block;
    float: right;
    font-family: 'FontAwesome';
    font-size: 14px;
    text-align: right;
    width: 25px;
}

.panel-group .panel .panel-heading .accordion-toggle {
    display: block;
}

.panel-group .panel .panel-heading .accordion-toggle:before {
    content: '\f0d8';
    display: block;
    float: right;
    font-family: 'FontAwesome';
    font-size: 14px;
    text-align: right;
    width: 25px;
}

.panel-group .panel .panel-heading + .panel-collapse .panel-body {
    border: 1px solid #f4f8fb;
    border-top: none;
}

.panel-group .panel-heading {
    padding: 12px 26px;
}

.panel-group.panel-group-joined .panel + .panel {
    border-top: 1px solid #eeeeee;
    margin-top: 0;
}

.panel-group-joined .panel-group .panel + .panel {
    border-top: 1px solid #eeeeee;
    margin-top: 0;
}


/* Panel tabs */

.panel-tabs .nav-pills li a {
    background-color: transparent !important;
    font-weight: 500;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #ffffff !important;
}

.panel-tabs .nav-pills li.active a {
    background-color: #ffffff !important;
    color: #435966 !important;
}

.panel-tabs .tab-content {
    padding: 0px;
    border: none;
}


/* Panel tabs */

.card-tabs .nav-pills li a {
    padding: 8px 14px;
    font-size: 13px;
    /* background-color: transparent !important; */
    font-weight: 500;
    color: #435966 !important;
}

.card-tabs .nav-pills li.active a {
    background-color: #0f79f5;
    color: #ffffff !important;
}

.panel-bid .nav-pills li.active a {
    background-color: #fe5722 !important;
}

.card-tabs .tab-content {
    padding: 0px;
    border: none;
}


/* =============
   Portlets
============= */

.portlet {
    background: #ffffff;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 1;
}

.portlet .portlet-heading {
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    background-clip: padding-box;
    color: #ffffff;
    padding: 12px 20px;
}

.portlet .portlet-heading .portlet-title {
    color: #ffffff;
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 0.03em;
}

.portlet .portlet-heading .portlet-widgets {
    display: inline-block;
    float: right;
    font-size: 15px;
    line-height: 30px;
    padding-left: 15px;
    position: relative;
    text-align: right;
}

.portlet .portlet-heading .portlet-widgets .divider {
    margin: 0 5px;
}

.portlet .portlet-heading .portlet-widgets .collapsed .zmdi-minus:before {
    content: "\f278" !important;
}

.portlet .portlet-heading a {
    color: #999999;
    padding: 0px 5px;
}

.portlet .portlet-body {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    background: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
}

.portlet-default .portlet-title {
    color: #797979 !important;
}

.portlet .portlet-heading.bg-custom a,
.portlet .portlet-heading.bg-purple a,
.portlet .portlet-heading.bg-info a,
.portlet .portlet-heading.bg-success a,
.portlet .portlet-heading.bg-primary a,
.portlet .portlet-heading.bg-danger a,
.portlet .portlet-heading.bg-warning a,
.portlet .portlet-heading.bg-inverse a,
.portlet .portlet-heading.bg-pink a {
    color: #ffffff;
    padding: 0px 5px;
}

.panel-disabled {
    background: rgba(243, 242, 241, 0.5);
    left: 0;
    cursor: wait;
    position: absolute;
    right: -5px;
    top: 0;
    bottom: 0;
}

.loader-1 {
    width: 30px;
    height: 30px;
    background-color: #435966;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
}

.card-draggable-placeholder {
    border: 2px dashed rgba(67, 89, 102, 0.5);
    margin-bottom: 16px;
    background-color: rgba(67, 89, 102, 0.08);
}

.notification-box ul {
    max-height: 60px;
}

.notification-box ul li a {
    font-size: 26px;
    color: #435966;
    display: block;
    line-height: 70px;
}

.notification-box .noti-dot {
    position: relative;
    top: -45px;
}

.notification-box .pulse {
    width: 2px;
    height: 2px;
    border: 3px solid #ff5b5b;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #ff5b5b;
    z-index: 10;
    position: absolute;
    right: 3px;
}

.user-box .user-status.offline i {
    color: #ff5b5b;
}

.notification-box .dot {
    border: 4px solid #ff5b5b;
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 30px;
    width: 30px;
    -webkit-animation: pulse 3s ease-out;
    -moz-animation: pulse 3s ease-out;
    animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: -12px;
    left: -4px;
    z-index: 1;
    opacity: 0;
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -moz-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        -moz-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}


/* =============
   Tour page
============= */

div.hopscotch-bubble {
    border: 3px solid #188ae2;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
}

div.hopscotch-bubble .hopscotch-next {
    background-color: #188ae2 !important;
    background-image: none !important;
    border-color: #188ae2 !important;
    text-shadow: none !important;
    margin: 0 0 0 5px !important;
}

div.hopscotch-bubble .hopscotch-prev {
    background-color: #188ae2 !important;
    background-image: none !important;
    border-color: #188ae2 !important;
    text-shadow: none !important;
    color: #ffffff !important;
}

div.hopscotch-bubble .hopscotch-bubble-number {
    background: #0f79f5;
    padding: 0px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    background-clip: padding-box;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border {
    border-right: 19px solid #188ae2;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow {
    border-left: 19px solid #188ae2;
    left: -2px;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
    border: none;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow-border {
    border-left: 0px solid #188ae2;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow {
    border-bottom: 19px solid #188ae2;
    top: 0px;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow-border {
    border-bottom: 0px solid rgba(0, 0, 0, 0.5);
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
    border-top: 19px solid #188ae2;
    top: -2px;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border {
    border-top: 0px solid rgba(0, 0, 0, 0.5);
}


/**! hopscotch - v0.2.5
*
* Copyright 2015 LinkedIn Corp. All rights reserved.
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fade-in-up {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fade-in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0)
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.fade-in-right {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.fade-in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

div.hopscotch-bubble .hopscotch-nav-button {
    font-weight: 700;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-decoration: none!important;
    width: auto;
    padding: 0 10px;
    height: 26px;
    line-height: 24px;
    font-size: 12px;
    *zoom: 1;
    white-space: nowrap;
    display: -moz-inline-stack;
    display: inline-block;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

div.hopscotch-bubble .hopscotch-nav-button:hover {
    *zoom: 1;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25)
}

div.hopscotch-bubble .hopscotch-nav-button:active {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset
}

div.hopscotch-bubble .hopscotch-nav-button.next {
    border-color: #1b5480;
    color: #fff;
    margin: 0 0 0 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .35);
    background-color: #287bbc;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#287bbc', endColorstr='#23639a');
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #287bbc), color-stop(100%, #23639a));
    background-image: -webkit-linear-gradient(top, #287bbc 0, #23639a 100%);
    background-image: -moz-linear-gradient(top, #287bbc 0, #23639a 100%);
    background-image: -o-linear-gradient(top, #287bbc 0, #23639a 100%);
    background-image: linear-gradient(top, #287bbc 0, #23639a 100%)
}

div.hopscotch-bubble .hopscotch-nav-button.next:hover {
    background-color: #2672ae;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#2672ae', endColorstr='#1e4f7e');
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #2672ae), color-stop(100%, #1e4f7e));
    background-image: -webkit-linear-gradient(top, #2672ae 0, #1e4f7e 100%);
    background-image: -moz-linear-gradient(top, #2672ae 0, #1e4f7e 100%);
    background-image: -o-linear-gradient(top, #2672ae 0, #1e4f7e 100%);
    background-image: linear-gradient(top, #2672ae 0, #1e4f7e 100%)
}

div.hopscotch-bubble .hopscotch-nav-button.prev {
    border-color: #a7a7a7;
    color: #444;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
    background-color: #f2f2f2;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#f2f2f2', endColorstr='#e9e9e9');
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #e9e9e9));
    background-image: -webkit-linear-gradient(top, #f2f2f2 0, #e9e9e9 100%);
    background-image: -moz-linear-gradient(top, #f2f2f2 0, #e9e9e9 100%);
    background-image: -o-linear-gradient(top, #f2f2f2 0, #e9e9e9 100%);
    background-image: linear-gradient(top, #f2f2f2 0, #e9e9e9 100%)
}

div.hopscotch-bubble .hopscotch-nav-button.prev:hover {
    background-color: #e8e8e8;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE8E8E8', endColorstr='#FFA9A9A9');
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #e8e8e8), color-stop(13%, #e3e3e3), color-stop(32%, #d7d7d7), color-stop(71%, #b9b9b9), color-stop(100%, #a9a9a9));
    background-image: -webkit-linear-gradient(top, #e8e8e8 0, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    background-image: -moz-linear-gradient(top, #e8e8e8 0, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    background-image: -o-linear-gradient(top, #e8e8e8 0, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    background-image: linear-gradient(top, #e8e8e8 0, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%)
}

div.hopscotch-bubble {
    background-color: #fff;
    border: 5px solid #000;
    border: 5px solid rgba(0, 0, 0, .5);
    color: #333;
    font-family: Helvetica, Arial;
    font-size: 13px;
    position: absolute;
    z-index: 999999;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box
}

div.hopscotch-bubble * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

div.hopscotch-bubble.animate {
    -moz-transition-property: top, left;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-property: top, left;
    -ms-transition-duration: 1s;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-property: top, left;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-property: top, left;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: top, left;
    transition-duration: 1s;
    transition-timing-function: ease-in-out
}

div.hopscotch-bubble.invisible {
    opacity: 0
}

div.hopscotch-bubble.hide,
div.hopscotch-bubble .hide,
div.hopscotch-bubble .hide-all {
    display: none
}

div.hopscotch-bubble h3 {
    color: #000;
    font-family: Helvetica, Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin: -1px 15px 0 0;
    padding: 0
}

div.hopscotch-bubble .hopscotch-bubble-container {
    padding: 15px;
    position: relative;
    text-align: left;
    -webkit-font-smoothing: antialiased
}

div.hopscotch-bubble .hopscotch-content {
    font-family: Helvetica, Arial;
    font-weight: 400;
    line-height: 17px;
    margin: -5px 0 11px;
    padding-top: 8px
}

div.hopscotch-bubble .hopscotch-bubble-content {
    margin: 0 0 0 40px
}

div.hopscotch-bubble.no-number .hopscotch-bubble-content {
    margin: 0
}

div.hopscotch-bubble .hopscotch-bubble-close {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    color: #000;
    background: transparent url(../img/sprite-green.png) -192px -92px no-repeat;
    display: block;
    padding: 8px;
    position: absolute;
    text-decoration: none;
    text-indent: -9999px;
    width: 8px;
    height: 8px;
    top: 0;
    right: 0
}

div.hopscotch-bubble .hopscotch-bubble-close.hide,
div.hopscotch-bubble .hopscotch-bubble-close.hide-all {
    display: none
}

div.hopscotch-bubble .hopscotch-bubble-number {
    color: #fff;
    display: block;
    float: left;
    font-size: 17px;
    font-weight: 700;
    line-height: 31px;
    padding: 0 4px 0 0;
    text-align: center;
    width: 25px;
    height: 30px;
    border-radius: 100px;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container {
    position: absolute;
    width: 34px;
    height: 34px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container .hopscotch-bubble-arrow,
div.hopscotch-bubble .hopscotch-bubble-arrow-container .hopscotch-bubble-arrow-border {
    width: 0;
    height: 0
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up {
    top: -22px;
    left: 10px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow {
    border-bottom: 17px solid #fff;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    position: relative;
    top: -10px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow-border {
    border-bottom: 17px solid #000;
    border-bottom: 17px solid rgba(0, 0, 0, .5);
    border-left: 17px solid transparent;
    border-right: 17px solid transparent
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down {
    bottom: -39px;
    left: 10px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
    border-top: 17px solid #fff;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    position: relative;
    top: -24px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border {
    border-top: 17px solid #000;
    border-top: 17px solid rgba(0, 0, 0, .5);
    border-left: 17px solid transparent;
    border-right: 17px solid transparent
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left {
    top: 10px;
    left: -22px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
    border-bottom: 17px solid transparent;
    border-right: 17px solid #fff;
    border-top: 17px solid transparent;
    position: relative;
    left: 7px;
    top: -34px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border {
    border-right: 17px solid #000;
    border-right: 17px solid rgba(0, 0, 0, .5);
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right {
    top: 10px;
    right: -39px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow {
    border-bottom: 17px solid transparent;
    border-left: 17px solid #fff;
    border-top: 17px solid transparent;
    position: relative;
    left: -7px;
    top: -34px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow-border {
    border-left: 17px solid #000;
    border-left: 17px solid rgba(0, 0, 0, .5);
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent
}

div.hopscotch-bubble .hopscotch-actions {
    margin: 10px 0 0;
    text-align: right
}


/**! hopscotch - v0.2.5
*
* Copyright 2015 LinkedIn Corp. All rights reserved.
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fade-in-up {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fade-in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0)
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.fade-in-right {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.fade-in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

div.hopscotch-bubble .hopscotch-nav-button {
    font-weight: 700;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-decoration: none!important;
    width: auto;
    padding: 0 10px;
    height: 26px;
    line-height: 24px;
    font-size: 12px;
    *zoom: 1;
    white-space: nowrap;
    display: -moz-inline-stack;
    display: inline-block;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

div.hopscotch-bubble .hopscotch-nav-button:hover {
    *zoom: 1;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25)
}

div.hopscotch-bubble .hopscotch-nav-button:active {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset
}

div.hopscotch-bubble .hopscotch-nav-button.next {
    border-color: #1b5480;
    color: #fff;
    margin: 0 0 0 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .35);
    background-color: #287bbc;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#287bbc', endColorstr='#23639a');
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #287bbc), color-stop(100%, #23639a));
    background-image: -webkit-linear-gradient(top, #287bbc 0, #23639a 100%);
    background-image: -moz-linear-gradient(top, #287bbc 0, #23639a 100%);
    background-image: -o-linear-gradient(top, #287bbc 0, #23639a 100%);
    background-image: linear-gradient(top, #287bbc 0, #23639a 100%)
}

div.hopscotch-bubble .hopscotch-nav-button.next:hover {
    background-color: #2672ae;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#2672ae', endColorstr='#1e4f7e');
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #2672ae), color-stop(100%, #1e4f7e));
    background-image: -webkit-linear-gradient(top, #2672ae 0, #1e4f7e 100%);
    background-image: -moz-linear-gradient(top, #2672ae 0, #1e4f7e 100%);
    background-image: -o-linear-gradient(top, #2672ae 0, #1e4f7e 100%);
    background-image: linear-gradient(top, #2672ae 0, #1e4f7e 100%)
}

div.hopscotch-bubble .hopscotch-nav-button.prev {
    border-color: #a7a7a7;
    color: #444;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
    background-color: #f2f2f2;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#f2f2f2', endColorstr='#e9e9e9');
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #e9e9e9));
    background-image: -webkit-linear-gradient(top, #f2f2f2 0, #e9e9e9 100%);
    background-image: -moz-linear-gradient(top, #f2f2f2 0, #e9e9e9 100%);
    background-image: -o-linear-gradient(top, #f2f2f2 0, #e9e9e9 100%);
    background-image: linear-gradient(top, #f2f2f2 0, #e9e9e9 100%)
}

div.hopscotch-bubble .hopscotch-nav-button.prev:hover {
    background-color: #e8e8e8;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE8E8E8', endColorstr='#FFA9A9A9');
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #e8e8e8), color-stop(13%, #e3e3e3), color-stop(32%, #d7d7d7), color-stop(71%, #b9b9b9), color-stop(100%, #a9a9a9));
    background-image: -webkit-linear-gradient(top, #e8e8e8 0, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    background-image: -moz-linear-gradient(top, #e8e8e8 0, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    background-image: -o-linear-gradient(top, #e8e8e8 0, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    background-image: linear-gradient(top, #e8e8e8 0, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%)
}

div.hopscotch-bubble {
    background-color: #fff;
    border: 5px solid #000;
    border: 5px solid rgba(0, 0, 0, .5);
    color: #333;
    font-family: Helvetica, Arial;
    font-size: 13px;
    position: absolute;
    z-index: 999999;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box
}

div.hopscotch-bubble * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

div.hopscotch-bubble.animate {
    -moz-transition-property: top, left;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-property: top, left;
    -ms-transition-duration: 1s;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-property: top, left;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-property: top, left;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: top, left;
    transition-duration: 1s;
    transition-timing-function: ease-in-out
}

div.hopscotch-bubble.invisible {
    opacity: 0
}

div.hopscotch-bubble.hide,
div.hopscotch-bubble .hide,
div.hopscotch-bubble .hide-all {
    display: none
}

div.hopscotch-bubble h3 {
    color: #000;
    font-family: Helvetica, Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin: -1px 15px 0 0;
    padding: 0
}

div.hopscotch-bubble .hopscotch-bubble-container {
    padding: 15px;
    position: relative;
    text-align: left;
    -webkit-font-smoothing: antialiased
}

div.hopscotch-bubble .hopscotch-content {
    font-family: Helvetica, Arial;
    font-weight: 400;
    line-height: 17px;
    margin: -5px 0 11px;
    padding-top: 8px
}

div.hopscotch-bubble .hopscotch-bubble-content {
    margin: 0 0 0 40px
}

div.hopscotch-bubble.no-number .hopscotch-bubble-content {
    margin: 0
}

div.hopscotch-bubble .hopscotch-bubble-close {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    color: #000;
    background: transparent url(../img/sprite-green.png) -192px -92px no-repeat;
    display: block;
    padding: 8px;
    position: absolute;
    text-decoration: none;
    text-indent: -9999px;
    width: 8px;
    height: 8px;
    top: 0;
    right: 0
}

div.hopscotch-bubble .hopscotch-bubble-close.hide,
div.hopscotch-bubble .hopscotch-bubble-close.hide-all {
    display: none
}

div.hopscotch-bubble .hopscotch-bubble-number {
    background: transparent url(../img/sprite-green.png) 0 0 no-repeat;
    color: #fff;
    display: block;
    float: left;
    font-size: 17px;
    font-weight: 700;
    line-height: 31px;
    padding: 0 10px 0 0;
    text-align: center;
    width: 30px;
    height: 30px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container {
    position: absolute;
    width: 34px;
    height: 34px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container .hopscotch-bubble-arrow,
div.hopscotch-bubble .hopscotch-bubble-arrow-container .hopscotch-bubble-arrow-border {
    width: 0;
    height: 0
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up {
    top: -22px;
    left: 10px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow {
    border-bottom: 17px solid #fff;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    position: relative;
    top: -10px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow-border {
    border-bottom: 17px solid #000;
    border-bottom: 17px solid rgba(0, 0, 0, .5);
    border-left: 17px solid transparent;
    border-right: 17px solid transparent
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down {
    bottom: -39px;
    left: 10px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
    border-top: 17px solid #fff;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    position: relative;
    top: -24px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border {
    border-top: 17px solid #000;
    border-top: 17px solid rgba(0, 0, 0, .5);
    border-left: 17px solid transparent;
    border-right: 17px solid transparent
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left {
    top: 10px;
    left: -22px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
    border-bottom: 17px solid transparent;
    border-right: 17px solid #fff;
    border-top: 17px solid transparent;
    position: relative;
    left: 7px;
    top: -34px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border {
    border-right: 17px solid #000;
    border-right: 17px solid rgba(0, 0, 0, .5);
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right {
    top: 10px;
    right: -39px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow {
    border-bottom: 17px solid transparent;
    border-left: 17px solid #fff;
    border-top: 17px solid transparent;
    position: relative;
    left: -7px;
    top: -34px
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow-border {
    border-left: 17px solid #000;
    border-left: 17px solid rgba(0, 0, 0, .5);
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent
}

div.hopscotch-bubble .hopscotch-actions {
    margin: 10px 0 0;
    text-align: right
}

.widget_license p.text-muted {
    padding: 0px !important;
    margin-bottom: 0px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    color: #333333 !important;
}

.nav.nav-tabs > li > a:hover {
    color: #333333 !important;
}

.tt-menu {
    margin-top: 3px;
}

a.list-group-item.tt-suggestion.tt-selectable {
    float: left;
    background-color: white;
    width: 360px;
    padding: 4px 10px 4px 10px;
    /* border-right: 1px solid #ccc; */
    border: 1px solid rgba(145, 167, 202, 0.21);
}

a.list-group-item.tt-suggestion.tt-selectable img {
    width: 100px;
    float: left;
    display: inline-block;
}

.tt-dataset.tt-dataset-productlists {}

.list-group.search-results-dropdown {
    margin-bottom: 0px;
}

.list-group-item:last-child {
    border-bottom: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

strong.tt-highlight {
    color: #ff6f00;
    font-size: 16px;
}

.pp_des {
    float: left;
    display: inline-block;
    width: 238px;
    line-height: 20px;
    text-align: left;
    padding-left: 15px;
}

span.pp_search_name {
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
}

span.pp_search_title {
    float: left;
    width: 100%;
    font-size: 12px;
    color: rgba(57, 120, 179, 0.67);
}

span.pp_search_cat {
    width: 100%;
    float: left;
    font-size: 12px;
}

.pp_search_cat span.label.label-primary {
    background-color: #438afe;
    font-weight: normal;
    padding: .1em .6em .2em;
}

.pp_search_cat span.label.label-success {
    background-color: #28b863;
    font-weight: normal;
    padding: .1em .6em .2em;
    margin-left: 5px;
}

.pp_search_cat span.label.label-danger {
    margin-left: 5px;
    background-color: #ff6f00 !important;
    font-weight: normal;
    padding: .1em .6em .2em;
}

.badge-success {
    background-color: #28b863;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    border: none;
    text-decoration: none;
    color: #333;
    background-color: #dddddd !important;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: none;
    border-left: 3px solid #0f79f5;
    color: #0f79f5 !important;
    border-radius: 0px;
}

.nav.nav-tabs > li > a:hover {
    border: none;
    border-left: 3px solid #0f79f5;
    color: #0f79f5 !important;
    border-radius: 0px;
}

.nav-tabs.nav-justified > li > a {
    border: none;
    color: #333333 !important;
    border-left: 3px solid transparent;
}

.user-img .dropify-wrapper:hover .dropify-clear {
    display: none;
}

.user-img .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner {
    padding: 0px;
    top: 30%;
}

.user-img .dropify-filename {
    display: none;
}

.user-img .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-message {
    width: 88px;
    white-space: normal;
    line-height: 16px;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    width: 80px;
    margin-left: 3px;
}

.user-img .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message::before {
    display: none;
}

.user-img .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message {
    opacity: 1;
}
