/****************************************************************************************************
 * @name:       LivIconsEvo.css - the styles for LivIcons (Live Icons) Evolution
 * @version:    2.2.XXX (XXX is a total number of icons)
 * @URL:        https://livicons.com
 * @copyright:  (c) 2013-2016 DeeThemes (http://codecanyon.net/user/DeeThemes)
 * @licenses:   http://codecanyon.net/licenses/regular
                http://codecanyon.net/licenses/extended
*****************************************************************************************************/

.livicon-evo-holder {
  width: 0; /*to prevent "flickering" while rendering*/
}
div.livicon-evo-holder {
  display: inline-block;
}
span.livicon-evo-holder {
  display: inline-block;
  vertical-align: middle;
}
.livicon-evo-holder .lievo-svg-wrapper {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%!important;
  padding-bottom: 100%!important;
  vertical-align: middle;
  overflow: hidden!important;
}
.livicon-evo-holder svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden!important;
  width: 100%!important;
  height: 100%!important;
}
.livicon-evo-holder svg,
.livicon-evo-holder svg * {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
.livicon-evo-error {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #c94242;
}
.livicon-evo-error span {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  margin-top: -4px;
}
.livicon-evo-error acronym {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  cursor:help;
  color:#c94242;
  border-bottom: 1px dotted #c94242;
}

/* icons size can be set via media queries */
/*@media (max-width:480px) {
  .livicon-evo-holder {
    width:50px!important;
  }
}
@media (min-width: 481px) {
  .livicon-evo-holder {
    width: 200px!important;
  }
}*/

LivIcons Evolution
HOME
FEATURES
ICONS
EXAMPLES
CONFIGURE
DOCUMENTATION
PURCHASE
LivIcons Evo Examples
For all the things you want to do. For the things you love.
Please explore some LivIcons Evolution examples for your next web project. They cover some popular areas of use and let you get a ready HTML, CSS and JavaScript code.

Please keep in mind:

(A) These examples require Bootstrap 3.X for correct grid system, text, buttons styles, etc. You might need to customize a code if you use other or own CSS framework.

(B) The weather widgets especially are just a starting templates and are needed a modification for a production use.

(C) Using these examples within WordPress may require theme files customization or using a page builder (composer) at your own. See on them as a starting point.

All 21  Icon boxes 6  Step boxes 4  Miscellaneous 6  Panels 3  Weather 2  Regular 17  Morphs 7

Pricing Plans 01

Alignments

Icon boxes 01

Icon boxes 02

Step boxes 01

Icon boxes 03

Icon boxes 04

Icon Boxes 05

Step boxes 02

Icon Boxes 06

Step Boxes 03

Unordered Lists

Step Boxes 04

Testimonials 01

Info Panel 01

Weather Widget 01

Warning Panel 01

Weather Widget 02

Buttons

Check-and-radio

Call-to-Action
IMPORTANT

The support comes with any LiviIcons Evolution plugin does not include any help with these examples.
Home Features Icons Examples Configure Docs for jQuery Docs for WordPress
LivIcons.com by DeeThemes © 2013 - 2016 All Rights Reserved.
John Doe

COOL COMPANY INC.

Lorem ipsum is a pseudo-latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.

Jane Doe

COOL COMPANY INC.

Lorem ipsum is a pseudo-latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.

John Doe

COOL COMPANY INC.

Lorem ipsum is a pseudo-latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.

Jane Doe

COOL COMPANY INC.

Lorem ipsum is a pseudo-latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.

Testimonials 01
Description: Testimonials example with different morph icons within the images inside them. Images can be in JPG, PNG, GIF, SVG formats. In this example there are SVG avatars, which were made with SVG Avatars Generator

Requires: Bootstrap 3.X for basic grid, buttons, text, etc. styles.

WordPress Note: This example may require theme files customization or using a page builder (composer) at your own. See on it as a starting point.

Important: LivIcons data-options are set to different from these defaults only! If you have another set of the default options please use a full notation of them which you can get from the Configuration tool

HTML
CSS
 Copy
/********* Testimonials 01 **********/
.testimonials-01 {
  margin: 30px 0 0 0;
  background-color: #F7F7F7;
  padding: 20px 20px 20px 20px;
  border: 1px solid #eee;
}
.testimonials-01 h3 {
  margin-top: 15px;
}
.testimonials-01 h6 {
  color: #555;
  font-weight: 900;
}
.testimonials-01 p {
  color: #888;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .testimonials-01 .livicon-evo {
    width: 50%!important;
    margin: 0 auto;
  }
  .testimonials-01 h3 {
    text-align: center;
    margin-top: 10px;
  }
  .testimonials-01 h6 {
    text-align: center;
  }
}
Categories

Miscellaneous
Share

  
14 of 21