.toplogo {
    background-color: #28b863 !important;
}

.rs_product_div {
    float: left;
    width: 100%;
    padding: 0px;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.24);
    /* box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.24); */
    /* background: #fafafa; */
    position: relative;
    text-align: center;
}

.rs_product_img img {
    margin: auto;
    height: 163px;
}

ul.rs_sorting li a:after {
    background-color: #28b863;
}

ul.rs_sorting li a.active:after {
    background-color: #28b863;
}

.rs_product_sorting {
    border-bottom: 4px solid #28b863;
}

.widget-title {
    background-color: #28b863;
}

.widget-title.widget-title-bid {
    background-color: #28b863;
}

.rs_button_blue {
    background-color: #28b863;
}

.bid-buy-sp {
    color: #28b863 !important;
}

.rs_testimonial_section {
    background-color: #28b863;
}

.rs_testimonial_section2 {
    background: url(../images/banner/banner7SHOP.svg) #313131 center top no-repeat;
}

.cart_totals {
    background-color: #28b863;
}

.rs_checkout_order_section .woo-cart-table {
    background-color: #28b863;
}

.rs_checkout_order_section .woo-cart-table .table thead tr th {
    background-color: #28b863;
}
